body{
 
    margin: 0;
}
#wrapper{
    display: grid;
    grid: 50px 20px 1fr 1fr / 1fr 3fr 1fr;
}

header{
    grid-column: 1/4;
}
nav{
    grid-column: 1/4;
}
h1{
    color: #FF5733;
    text-decoration:none
}
a{
    text-decoration: none;
}